/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.text-white {
    color: #fff !important;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-half {
    width: 50%;
}

.column-third {
    width: calc(100% / 3);
}

.column-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

/* 
    1. From outside to inside
    2. From top to down
    -> Overview to details
*/

/* 
    1. Position
    2. Size(width, height)
    3. Color
    4. font(style, circle, font-style,...)
*/

#main {}

/* header */
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li {
    display: inline-block;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav>li:hover .subnav {
    display: block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    text-decoration: none;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
    padding-left: 2px;
}

#header .mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-button,
#header .search-button {
    float: right;
    padding: 14px 24px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-button:hover {
    background-color: #ccc;
}

#header .mobile-menu-button:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 14px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider-1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    color: #fff;
    position: absolute;
    bottom: 47px;
    /* the first way to center text-content */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    /* the second way to center text-content 
        width: 100%;
        the third way to center text-content
        left: 0;
        right: 0;
    */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content {}

/* the band */
#content .content-section {
    width: 800px;
    max-width: 100%;
    /* margin-left: auto, margin-right: auto
    => the content will be at the center position
    */
    margin: 0 auto;
    padding: 64px 16px 112px;
    overflow: hidden;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    opacity: 0.6;
    font-style: italic;
}

#content .about-text,
#content .section-sub-heading {
    margin-top: 25px;
    font-size: 15px;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .about-text {
    text-align: justify;
    line-height: 1.5;
}

#content .members-list {
    margin-top: 32px;
}

#content .member-item {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour dates */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    font-size: 15px;
    color: #fff;
    background-color: #f44336;
    padding: 4px 8px;
    margin-left: 16px;
    text-align: center;
    display: inline-block;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    float: right;
    padding: 5px 8px;
    margin-right: 16px;
    margin-top: -4px;
    text-align: center;
}

/* places */
#content .places-list {
    margin-top: 16px;
    overflow: hidden;
}

#content .place-img {
    width: 100%;
    display: block;
}

#content .place-img:hover {
    opacity: 0.6;
}

#content .place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

#content .place-heading {
    font-weight: bolder;
    font-size: 15px;
}

#content .place-time {
    opacity: 0.6;
    margin-top: 15px;
}

#content .place-description {
    margin-top: 15px;
    line-height: 1.5;
}

#content .place-buy-btn {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    margin-top: 15px;
    display: inline-block;
}

#content .place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;

}

#footer {
    text-align: center;
    padding: 64px 16px;
    font-size: 24px;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
}

#footer .socials-list a:hover {
    opacity: 0.6;
    cursor: pointer;
}

#footer .socials-list a,
#footer .copyright,
#footer .copyright a {
    color: #666666;
}

#footer .copyright {
    margin: 15px 0;
    font-size: 15px;
}

/* modal */

/* overlay */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .4s;
}

.modal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px 20px;
}

.modal .modal-close:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


.modal .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #009688;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
    padding: 42px 16px;
    height: 130px;
}

.modal .modal-header i {
    margin-right: 16px;
}

.modal .modal-body {
    padding: 0 16px;
}

.modal .modal-lable {
    display: block;
    font-size: 15px;
    margin: 16px 0;
}

.modal .modal-input {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.modal #buy-tickets {
    display: block;
    width: 100%;
    padding: 19px;
    margin: 16px 0;
    font-size: 15px;
    border: none;
    color: #fff;
    background-color: #009688;
}

.modal #buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal .modal-footer {
    float: right;
    margin: 15px 0;
    padding: 0 16px;
}

.modal .modal-help a {
    color: #2196F3;
}

/* animation for modal */
@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* contact */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5
}

.contact-info p i {
    width: 30px;
    display: inline-block;
}

.contact-info p a:hover {
    color: rgb(139, 6, 110);
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.contact-form .send-form {
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    float: right;
    appearance: none;
}

.contact-form .send-form:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* map */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
}